node_modules
*.vsix
*.tgz
.vscode-test

server/out
client/out
integration-tests/out
integration-tests/test-workspace/fluenceProject
!integration-tests/test-workspace/fluenceProject/src/aqua/test.aqua
